* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.navigation {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}

.navigation__links a {
    text-decoration: none;
    color: rgb(135, 119, 119);
}

.content {
    padding: 10px;
    text-align: center;
}

.content__card {
    display: inline-block;
    width: 200px;
    border: 1px solid gray;
    text-align: center;
}

.content__card--desc {
    padding: 10px;
}

.content__card--button {
    padding: 5px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.contact-form {
    text-align: center;
    margin-top: 20px;
}

.contact-form h1 {
    margin-top: 0px;
}

.contact-form table{
    display: inline-block;
}

.contact-form__input {
    margin-left: 20px;
    border: none;
}

.contact-form table td{
    text-align: left;
}

.contact-form__send {
    background-color: orangered;
    color: white;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}